<div class="d-flex align-items-center justify-content-center box">
  <form action="/login" method="POST" class="mb-3 d-flex flex-column align-items-center">
    <h1 class="mb-3">Account Login</h1>
    <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Emial">
    <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Password">
    <button type="submit" class="btn btn-outline-secondary">Sign in</button>
  </form>
</div>